body {
	color: #414141;
	background-color: #EEEEEE;
	font-size: 18px;
	text-align: center;
	font-family: Arial, Helvetica, Sans-Serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1em;
}

li {
	list-style: none;
}

ul {
	padding:0;
}

.content {
	white-space: pre-line;
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
}

.menu {
	display:flex;
	justify-content: center;
}
.menu a{
	padding: 1rem;
}

.tags {
	display:flex;
	flex-direction: column;
	
}